<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <%= erb :fullscreen %>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/suzuka.js"></script>
    <script type="text/javascript" src="js/upload.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>

    <title>Suzuka</title>
  </head>
  <body>
    <div id="main" dropzone>
      <div id="status">
      </div>
      <%= erb :_books, :locals => {:books => @books} %>
    </div>
  </body>
</html>
